body {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* Parte da navegação */
ul {
  display: flex;
}
li {
  margin-left: 50px;
  display: flex;
}
a{
    text-decoration: none;
}
