
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(12, 11, 11);
  color: white;
  overflow-x: hidden;
}
header  {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  height: 7       vh;
  width: 100%;
  background-color: rgb(12, 11, 11);
  position: sticky;
  top: 0;
  /* background-color: #ff8c00; */
  transition: background-color 0.4s ease-in-out;
}
.scrolled {
  background-color: #ff8c00;
  opacity: 0.98;
}
/* Parte da navegação */
ul {
  display: flex;
}
li {
  margin-left: 50px;
  display: flex;
}
.botaoNavegacao{
  text-decoration: none;
  color: #ff8c00;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.4s ease-in-out;
  /* color: #fff; */
}
.scrolled a{
  color:#161616;
  font-size: 20px;
  }

/* Conteudo Principal */
.fotoPessoal {
  box-shadow: 6px 6px 20px #161616;
  height: 400px;
  width: 300px;
  border-radius: 50%;
}
.container-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding-top: 80px;
}
.container-main h1 {
  font-size: 50px;
  margin-bottom: -15px;
}
.container-main h3 {
  color: #ff8c00;
  font-size: 30px;
  margin-bottom: -5px;
}
.icon-social {
  display: flex;
  flex-direction: column;
  margin-right: -23em;
  margin-top: 60px;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;

}
.icon-social a {
  padding-bottom: 30px;
}
.icon-social2 {
  display: flex;
  align-items: center;
}
.icon-social2 i{
  margin-left: 15px;
}
.container-main-section2 h1 {
  text-align: center;
  margin-top: 50px;
}
.subPrincipal-section2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  padding-top: 80px;
}

.container-paralax {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.parallax-2 {
  background-image: url(../img/novaImageParallax.jpeg);
}
.about-section {
  height: 100vh;
  padding-top: 3%;
}
footer {
  /* background-color: rgb(7, 6, 6); */
  color: #fff;
  /* background-image: url(../img/telaCodigo.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tituloFooter {
  font-size: 50px;
}
.container-footer {
  text-align: center;
  height: 25vh;
  margin: -19px;
  padding-top: 80px;
}



#btnTopo{
  position: fixed;
  bottom: 50px;
  right: 20px;
  width: 100px;
  height: 50px;
  background-color: rgba(252, 250, 250, 0.5);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}